.online-players {
    font-weight: bold;
}

.player {
    margin-bottom: 20px;
}

.player-avatar {
    float: left;
    margin-right: 10px;
}

.player a {
    font-size: 1.5em;
    font-weight: bold;
}


.player-health img,
.player-hunger img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
